.dino {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(./img/trex.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0px;
}
.obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(./img/cactus.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0px;
}
